@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-item {
    transition: transform duration-600 ease-out;
    transition-delay-600: 0.9s;
    transition-timing-function: ease-out;
}
  